<script setup lang="ts">
import {defineProps} from "vue"

defineProps<{
  src: string
  alt?: string
  width?: string
}>()
</script>

<template>
  <img :src="src" :alt="alt ? alt : 'Image'" :width="width ? width : '100%'"/>
</template>

<style scoped>
img {
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
</style>
