<script setup lang="ts">
import {defineProps} from "vue"

defineProps<{
  url: string
}>()
</script>

<template>
  <div class="video-container">
    <iframe :src="url + '?hide_owner=true&hide_title=true&hideEmbedTopBar=true&hide_share=true'"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen/>
  </div>
</template>

<style scoped>
.video-container {
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
}

.video-container iframe {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
