:root {
  /* Light mode link color */
  --vp-c-link: #A42168 !important; /* Your custom light mode color */
  --vp-c-link-hover: #C84189 !important; /* Your custom light mode hover color */
  --vp-c-brand: #A42168 !important;
  --vp-c-brand-1: #A42168 !important;
  --vp-c-brand-2: #C84189 !important;
}

[data-theme="dark"] {
  /* Dark mode link color */
  --vp-c-link: #E2AF0E !important; /* Your custom dark mode color */
  --vp-c-link-hover: #F2C635 !important; /* Your custom dark mode hover color */
  --vp-c-brand: #E2AF0E !important;
  --vp-c-brand-1: #E2AF0E !important;
  --vp-c-brand-2: #F2C635 !important;
}

html.dark {
  /* Dark mode link color */
  --vp-c-link: #E2AF0E !important; /* Your custom dark mode color */
  --vp-c-link-hover: #F2C635 !important; /* Your custom dark mode hover color */
  --vp-c-brand: #E2AF0E !important;
  --vp-c-brand-1: #E2AF0E !important;
  --vp-c-brand-2: #F2C635 !important;
}
