@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit[wght].woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans[opsz,wght].woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, .text, .title, .VPLink, .outline-link {
  font-family: 'Outfit', sans-serif;
}

html, body {
  font-family: 'DM Sans', sans-serif;
}
